/* remove codrops styles and reset the whole thing */
body{
	background: white url(" /Users/farahbouassida/Documents/MA3/learning-platform/website/psycho/static/psycho/images/bg.jpg ") no-repeat right bottom;
}

#wrap{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: left;
    color:red;	
}