{% extends 'base.html' %}



{% block body %}
<p> Click on the following link to complete the activity: </p>
    <form method="post" action="{% url 'url_activity' user.id %}">
        {% csrf_token %}
        {% load staticfiles %}
        
        {% if "mp4" in activity.source %}
            <video width="100%" height="440" controls autoplay>
                <source src="{% static activity.source %}" type="video/mp4"> </source>
            </video>
        {% else %}
            <iframe width="100%" height="440" src="{% static activity.source %}"></iframe>
        {% endif %}
        
        <p class="login button">
            <input type="submit"/>
        </p>
    </form>
{% endblock %}
