{% extends 'base.html' %}



{% block body %}
<h1>The test ended</h1>
<div style="text-align:center"><p> Thank you for your participation!</p>
</div>
<p>If you want to learn more about epidemics, consult our references:</p>
<div style="font-size:80%">
<p>Center for Infectious Disease Dynamics youtube channel:https://goo.gl/ccIXTh </p>
<p>Wikipedia contributors. "Epidemic." Wikipedia, The Free Encyclopedia. Wikipedia, The Free Encyclopedia, 31 Oct. 2015. Web. 4 Nov. 2015.</p>
<p>Helen Baratt, Maria Kirwan, Health Knowledge, EDUCATION, CPD AND REVALIDATION FROM PHAST, 2009.</p>
<div>

{% endblock %}
