{% extends 'base.html' %}



{% block body %}
<p> Click on "Validate" when you accomplish the activity: </p>


    
    <div style="font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
        font-size: 20px;">
        <p> For the next steps, you are going to be redirected to two consecutive contents. <br/>The first one will teach you about the definition of epidemics and its causes. <br/> The second one is about the representive number of an epidemic.</p>
    </div>

<form method="post" action="{% url 'url_intro' user %}">
    {% csrf_token %}
    <p class="login button">
        <input type="submit" value="Ok"/>
    </p>

<form>
{% endblock %}
