{% extends 'base.html' %}



{% block body %}
        <h1>{{test.name}}</h1>
<form method="post" action="{% url 'url_quizz' test.id user.id %}">
    {% csrf_token %}
    {% load staticfiles %}
    {% for field in response_form %}
        <div class="field-wrapper">
            {% if "jpg" in field.label %}
            
                <label>Select the right result image</label><br>
                    <img src="{% static field.label %}" height="30%" width="60%">
                    <div class="rad-btn">{{ field }}</div>
            {% else %}
                    <label>{{ field.label }}</label>
                        <div class="rad-btn">{{ field }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <p class="login button">
        <input type="submit" value="Validate"/>
    </p>
</form>
{% endblock %}
