{% extends 'base.html' %}



{% block body %}
{% if "Prerequisite Test" in test.name %}
        <h1> Test </h1>
<div style="font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
font-size: 20px;"><p> The following questions are about the two concepts you are going to learn today. You don't have to know the answers. Please select the answer that indicates that you don't know if so. </p></div>
{% else %}
        <h1>{{test.name}}</h1>
{% endif %}

{% if test.category in 'ASSESS' %}
<p>
Answer from 1 to 5:<br>
<ul>
    <li>1: Strongly disagree</li>
    <li>2: Disagree </li>
    <li>3: Neutral </li>
    <li>4: Agree </li>
    <li>5: Strongly Agree </li>
</ul>
</p>
{% endif %}
<form method="post" action="{% url 'url_quizz' test.id user.id %}">
    {% csrf_token %}
    {% load staticfiles %}
    {% for field in response_form %}
        <div class="field-wrapper">
            
            {% if "jpg" in field.label %}
            
                <label>Select the right result image</label><br>
                    <img src="{% static field.label %}" height="35%" width="65%">
                    <div class="rad-btn">{{ field }}</div>
            {% else %}
                    <label>{{ field.label }}</label>
                        <div class="rad-btn">{{ field }}</div>
            {% endif %}
        </div>
    {% endfor %}
    <p class="login button">
        <input type="submit" value="Validate"/>
    </p>
</form>
{% endblock %}
<div style=tyle="font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
    font-size: 20px;">
    <p> For the next steps, you are going to be redirected to two consecutive contents. <br/>The first one will teach you about the definition of epidemics and its causes. <br/> The second one is about the representive number of an epidemic.</p>
</div>

